<div class="apt-item">
  <a
    href="#"
    class="list-group-item clearfix"
    >

    <div class="pull-left">
      <h4 class="list-group-item-heading">{{ rms.roommate.name}} </h4>Match Score: {{ rms.matchscore }}
      <p class="list-group-item-text">Neighbourhood: {{ rms.roommate.neighbourhood }}</p>
      <p class="list-group-item-text">Roommate Age: {{ rms.roommate.preferedRMage }}</p>
      <p class="list-group-item-text">Roommate Gender: {{ rms.roommate.preferedRMgender}}</p>
      <p class="list-group-item-text">Cleanliness: {{ rms.roommate.cleanliness }}</p>
      <p class="list-group-item-text">Noise: {{ rms.roommate.cleanliness }}</p>
      <p class="list-group-item-text">{{ rms.roommate.email }}</p>
    </div>
  </a>
</div>
