<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <div class="container">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h3 class="text-uppercase">Full House</h3>
          <p>Description of FULL HOUSE</p>

        </div>

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li><a routerLink="/browse">Browse Listings</a></li>
            <li><a routerLink="/postlisting">List your place</a></li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- contact us -->
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">contact us</h5>
          <ul class="list-unstyled">
            <li>fullhouse@fullhouse.com</li>
            <li>(123)-456-7890</li>
            <li>1234 COMP 307 Street</li>
            <li>Q1W 2E3</li>
            <li>Montreal, Canada</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright: Full House COMP 307</div>
</footer>
