<div class="about container">
  <div class="aboutText">
    <h1>Have it your way!</h1>
    <h5>&nbsp;It’s your place. Rent it how you want.</h5>
    <hr>
    <p id="title">A ROOMMATE FOR EVERYONE</p>
    <p>Use <b>Full House</b> if you’re looking for a new BFF to live with or just need someone to move in and split rent.</p>
    <p id="title">Flexible RENTING TERMS</p>
    <p>Find someone to rent an empty room – whether it’s for 3 months or a whole year!</p>
  </div>
  <img id="aboutIMG" src="https://pmctvline2.files.wordpress.com/2018/01/new-season-season-7-cast1.jpg?w=620&h=440&crop=1">
</div>
