  <br><br><br>
  <button (click)="testAddUserProfile()">Create my profile</button><br><br>
  <button (click)="testUpdateUserProfile()">Update my profile</button><br><br>
  <br><br>
  Login:
  Email: <input #email><br>
  Password: <input #password type='password'><br>
  <button (click)="login(email.value, password.value)">Login</button><br>
  <br><br>


  <h3>My Profile</h3>
  {{user.$key}}
   Name: {{user.name}}<br>
   Age: {{user.age}}<br>
   Gender: {{user.gener}}<br>
   Preferred Roommate Age: {{user.preferedRMage}}<br>
   Preferred Roommate Gener: {{user.preferedRMgender}}<br>
   Preferred Roommate Bedtime: {{user.preferedRMbedtime}}<br>



  <h3>Enter room information:</h3>
  Address: <input #address><br>
  City: <input #city><br>
  Description: <input #description><br>
  Price Range: <input #pricerange><br>
  <button (click)="addRoom(address.value, city.value, description.value, pricerange.value)">Add my room</button><br>
  <br><br>


  <h3>I do not have room</h3>
  <button (click)="findRoomProviders()">find me room providers</button><br>
  <table  border="1px">
  <tr>
    <th>Email</th>
    <th>Score</th>
    <th>View Rooms</th>
  </tr>
  <tr *ngFor="let result of searchResultRoomProviderArray">
    <td>{{ result.matcheremail }}</td>
    <td>{{ result.matchscore }}</td>
    <td><button (click)="dispayProviderRooms(result.matcheremail)">View Rooms</button></td>
  </tr>
  </table>

  <h4>Provider Rooms</h4>
  <table  border="1px">
    <tr>
      <th>Eamil</th>
      <th>Address</th>
      <th>Description</th>
      <th>Price Range</th>
    </tr>
    <tr *ngFor="let room of providerRooms">
      <td>{{ room.useremail}}</td>
    <td>{{ room.address }}, {{ room.city }}</td>
    <td>{{ room.description }}</td>
    <td>{{ room.price }}</td>
  </tr>
  </table>

<br><br>
<h3>I have room</h3>
<button (click)="findRoomMates()">find me roommates</button><br>
<table border="1px">
<tr>
  <th>Email</th>
  <th>Score</th>
  <th>View Roommate</th>


</tr>
<tr *ngFor="let result of searchResultRoomMatesArray">
  <td>{{ result.matcheremail }}</td>
  <td>{{ result.matchscore }}</td>
  <td><button (click)="displayRoommate(result.matcheremail)">View Roommate</button></td>
</tr>
</table><br><br>
<h4>Roommate Information</h4>

    Eamil: {{roommate.email}}<br>
    Name: {{roommate.name}}<br>
    Age:{{roommate.age}}<br>
    Gener: {{roommate.gender}}<br>
    preferred Bedtime: {{roommate.preferedRMbedtime}}<br>
<br><br>
<button (click)="logout()">Logout</button><br>
