<div class="container">
  <div class="login">
    <div class="loginBox col-md-8 col-lg-6">
      <h3><b>Create an account</b></h3>
      <h4>Please fill out the form below to sign up.</h4> <br>
      <form class="form-styled bg-white" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <!-- Name -->
        <div class="fullname">
          <label>Full Name</label>
          <input type="text" class="form-control" placeholder="Full name" formControlName="fullname">
        </div>

        <!-- E-mail -->
        <label>E-mail Address</label>
        <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" formControlName="email">
        <div *ngIf="invalidEmail" style='color:red'>Invalid Email</div>
        <div *ngIf="existingUser" style='color:red'>User Exists</div>
        <!-- Password -->
        <label>Password</label>
        <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" formControlName="password">
        <div *ngIf="invalidPassword" style='color:red'>Invalid Password</div>
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        </small>
        <br>
        <button
          class="btn btn-primary"
          type="submit">Sign Up Now </button><br>
      </form>

      <p>Aready a member? <a id="quiz" routerLink="/login">Log in.</a> </p>
    </div>
  </div>

</div>
