
body{
  font-family: QuicksandRegular;
  color: black;
}
.btn{
  background-color: transparent;
  background: transparent;
  color: black;
  border: 1px solid black;
  font-family: QuicksandRegular;
}

h1{
  font-size: 70px;
}
.cover {
  background: linear-gradient(rgba(255,255,255,0.55), rgba(255,255,255,0.55)), url("https://www.ihmvcu.org/images/default-source/default-album/college-students-roommates-playing-video-games-drinking_small.jpg?sfvrsn=0") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 900px;
  padding-top: 500px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: QuicksandRegular;
  display: inline-block;
}

.main {

  background-color: white;
  height: 1500px; /* Used in this example to enable scrolling */
}
.content{

}
.formcenter {
  overflow: hidden;
  text-align: center;
  color: black;
  font-family: QuicksandRegular;
  display: inline-block;
}
